In [63]:
import pandas as pd
from pandas_datareader import data as web
import numpy as np
from datetime import datetime
from time import  sleep

In [64]:
import extract_data
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [65]:
from extract_data import extrai_preco
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [66]:
dt_inic = datetime(2010,1,1)
dt_fim = datetime(2021,5,31)

acoes = ["BOVA11.SAO"]

df = extrai_preco(acoes, dt_inic, dt_fim)

In [67]:
df

           BOVA11.SAO                                                  \
                 open    high     low   close adjusted close   volume
2010-01-04      68.55   69.45   68.30   69.37          69.37   168379
2010-01-05      69.46   70.03   69.32   69.90          69.90   179175
2010-01-06      69.74   70.32   69.70   70.30          70.30   187683
2010-01-07      69.52   70.13   69.52   70.00          70.00   105126
2010-01-08      69.41   70.00   69.31   69.48          69.48   177077
...               ...     ...     ...     ...            ...      ...
2021-05-25     119.89  119.97  118.05  118.40         118.40  5697654
2021-05-26     118.94  119.58  118.79  119.24         119.24  4716894
2021-05-27     119.46  119.83  118.79  119.59         119.59  6038746
2021-05-28     119.75  120.89  119.53  120.72         120.72  5991423
2021-05-31     120.84  121.25  120.28  121.25         121.25  4707495


           dividend amount split coefficient
2010-01-04             0.0               1.0
2010-01-05             0.0               1.0
2010-01-06             0.0               1.0
2010-01-07             0.0               1.0
2010-01-08             0.0               1.0
...                    ...               ...
2021-05-25             0.0               1.0
2021-05-26             0.0               1.0
2021-05-27             0.0               1.0
2021-05-28             0.0               1.0
2021-05-31             0.0               1.0

[2819 rows x 8 columns]

In [68]:
df.to_csv("bova11.csv")

### Indicadores

### RSI: Relative Index Strength
$RSI = 100 - [\frac{100}{1+ RS}]$

$RS = \frac{AVg Gain}{AVg Loss}$
obs: over n periods

In [69]:
#Não deu certo F

In [70]:
def calc_RSI(price,n=14):
    rets = price.pct_change()
    up =[]
    down= []
    for i in rets: 
        if i > 0:
            up.append(i)
        else:
            up.append(0)
    for i in rets: 
        if i < 0:
            down.append(i)
        else:
            down.append(0)

            
    up = pd.Series(np.array(up))
    down = pd.Series(np.array(down))
    avg_up = up.rolling(window=n).mean()
    avg_down  = down.rolling(window=n).mean().abs()
    RS = avg_up/avg_down
    rsi = 100.0 - (100.0 / (1.0 + RS))
    return rsi

In [71]:
calc_RSI(df['BOVA11.SAO']["adjusted close"])

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
2814    63.769380
2815    65.330032
2816    59.903174
2817    65.306312
2818    63.842681
Length: 2819, dtype: float64

In [72]:
import talib

In [73]:
rsi_14 = talib.RSI(df['BOVA11.SAO']["adjusted close"], timeperiod=14)

In [74]:
len(rsi_14)

2819

In [75]:
rsi_14

2010-01-04          NaN
2010-01-05          NaN
2010-01-06          NaN
2010-01-07          NaN
2010-01-08          NaN
                ...
2021-05-25    58.676499
2021-05-26    61.523545
2021-05-27    62.677378
2021-05-28    66.201422
2021-05-31    67.739987
Freq: D, Length: 2819, dtype: float64

Stochatic oscilator:

$STO_t =\frac{C_t - L_n}{H_n-L_n} *100$

In [76]:
minimum, maximum = talib.MINMAX(df['BOVA11.SAO']["adjusted close"], timeperiod=14)

In [77]:
sto =(df['BOVA11.SAO']["adjusted close"] - minimum)/(maximum - minimum) * 100

In [78]:
len(sto)

2819

### Chaikin Oscilator (CHO)

$\frac{A}{D_i}= \frac{(Close-Low) - (High-Close)}{(High - Low)} * Volume - \frac{A}{D_(i-1)}$

$CHO = EMA(A/D,3) - EMA(A/D,10)$

EMA: EMA(A/D, n) is a n-periodic exponential moving average of the A/D indicator

In [79]:
cho = talib.ADOSC(df['BOVA11.SAO']["high"],df['BOVA11.SAO']["low"],df['BOVA11.SAO']["adjusted close"],df['BOVA11.SAO']["volume"],fastperiod=3, slowperiod=10)

In [80]:
len(cho)

2819

## ML

In [81]:
df1 = df.copy()

In [82]:
df1

           BOVA11.SAO                                                  \
                 open    high     low   close adjusted close   volume
2010-01-04      68.55   69.45   68.30   69.37          69.37   168379
2010-01-05      69.46   70.03   69.32   69.90          69.90   179175
2010-01-06      69.74   70.32   69.70   70.30          70.30   187683
2010-01-07      69.52   70.13   69.52   70.00          70.00   105126
2010-01-08      69.41   70.00   69.31   69.48          69.48   177077
...               ...     ...     ...     ...            ...      ...
2021-05-25     119.89  119.97  118.05  118.40         118.40  5697654
2021-05-26     118.94  119.58  118.79  119.24         119.24  4716894
2021-05-27     119.46  119.83  118.79  119.59         119.59  6038746
2021-05-28     119.75  120.89  119.53  120.72         120.72  5991423
2021-05-31     120.84  121.25  120.28  121.25         121.25  4707495


           dividend amount split coefficient
2010-01-04             0.0               1.0
2010-01-05             0.0               1.0
2010-01-06             0.0               1.0
2010-01-07             0.0               1.0
2010-01-08             0.0               1.0
...                    ...               ...
2021-05-25             0.0               1.0
2021-05-26             0.0               1.0
2021-05-27             0.0               1.0
2021-05-28             0.0               1.0
2021-05-31             0.0               1.0

[2819 rows x 8 columns]

In [83]:
df1.columns = df1.columns.droplevel()

In [84]:
df1

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
2010-01-04,68.55,69.45,68.30,69.37,69.37,168379,0.0,1.0
2010-01-05,69.46,70.03,69.32,69.90,69.90,179175,0.0,1.0
2010-01-06,69.74,70.32,69.70,70.30,70.30,187683,0.0,1.0
2010-01-07,69.52,70.13,69.52,70.00,70.00,105126,0.0,1.0
2010-01-08,69.41,70.00,69.31,69.48,69.48,177077,0.0,1.0
...,...,...,...,...,...,...,...,...
2021-05-25,119.89,119.97,118.05,118.40,118.40,5697654,0.0,1.0
2021-05-26,118.94,119.58,118.79,119.24,119.24,4716894,0.0,1.0
2021-05-27,119.46,119.83,118.79,119.59,119.59,6038746,0.0,1.0
2021-05-28,119.75,120.89,119.53,120.72,120.72,5991423,0.0,1.0
2021-05-31,120.84,121.25,120.28,121.25,121.25,4707495,0.0,1.0

In [85]:
bova11_df = df1[['open','high','low','adjusted close','volume']]

In [86]:
#Mudar isso depois  https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
bova11_df['RSI_14'] = rsi_14

<ipython-input-86-13b155523b11>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bova11_df['RSI_14'] = rsi_14

In [87]:
#Mudar isso depois  https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
bova11_df['STO_14'] = sto

<ipython-input-87-8d9614595a6b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bova11_df['STO_14'] = sto

In [88]:
bova11_df['CHO'] = cho

In [89]:
bova11_df.head()

             open   high    low  adjusted close  volume  RSI_14  STO_14  CHO
2010-01-04  68.55  69.45  68.30           69.37  168379     NaN     NaN  NaN
2010-01-05  69.46  70.03  69.32           69.90  179175     NaN     NaN  NaN
2010-01-06  69.74  70.32  69.70           70.30  187683     NaN     NaN  NaN
2010-01-07  69.52  70.13  69.52           70.00  105126     NaN     NaN  NaN
2010-01-08  69.41  70.00  69.31           69.48  177077     NaN     NaN  NaN

In [92]:
bova11_df['returns']= bova11_df['adjusted close'].pct_change()

# Links

https://medium.com/codex/alpha-vantage-an-introduction-to-a-highly-efficient-free-stock-api-6d17f4481bf

https://medium.com/alpha-vantage/get-started-with-alpha-vantage-data-619a70c7f33a

https://www.alphavantage.co/documentation/

https://stackoverflow.com/questions/16088741/pandas-add-a-column-to-a-multiindex-column-dataframe

https://stackoverflow.com/questions/20526414/relative-strength-index-in-python-pandas