In [76]:
# Libraries
import pandas as pd
from pandas_datareader import data as web
import numpy as np
from datetime import datetime
from time import  sleep
import talib

In [77]:
df= pd.read_csv("bova11_pure.csv",index_col=0)

In [78]:
df

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
2010-01-04,68.55,69.45,68.30,69.37,69.37,168379,0.0,1.0
2010-01-05,69.46,70.03,69.32,69.90,69.90,179175,0.0,1.0
2010-01-06,69.74,70.32,69.70,70.30,70.30,187683,0.0,1.0
2010-01-07,69.52,70.13,69.52,70.00,70.00,105126,0.0,1.0
2010-01-08,69.41,70.00,69.31,69.48,69.48,177077,0.0,1.0
...,...,...,...,...,...,...,...,...
2021-05-25,119.89,119.97,118.05,118.40,118.40,5697654,0.0,1.0
2021-05-26,118.94,119.58,118.79,119.24,119.24,4716894,0.0,1.0
2021-05-27,119.46,119.83,118.79,119.59,119.59,6038746,0.0,1.0
2021-05-28,119.75,120.89,119.53,120.72,120.72,5991423,0.0,1.0
2021-05-31,120.84,121.25,120.28,121.25,121.25,4707495,0.0,1.0

### RSI: Relative Index Strength
$RSI = 100 - [\frac{100}{1+ RS}]$

$RS = \frac{AVg Gain}{AVg Loss}$

obs: over n periods

In [79]:
'''
def calc_RSI(price,n=14):
    rets = price.pct_change()
    up =[]
    down= []
    for i in rets: 
        if i > 0:
            up.append(i)
        else:
            up.append(0)
    for i in rets: 
        if i < 0:
            down.append(i)
        else:
            down.append(0)

            
    up = pd.Series(np.array(up))
    down = pd.Series(np.array(down))
    avg_up = up.rolling(window=n).mean()
    avg_down  = down.rolling(window=n).mean().abs()
    RS = avg_up/avg_down
    rsi = 100.0 - (100.0 / (1.0 + RS))
    return rsi

'''

'\ndef calc_RSI(price,n=14):\n    rets = price.pct_change()\n    up =[]\n    down= []\n    for i in rets: \n        if i > 0:\n            up.append(i)\n        else:\n            up.append(0)\n    for i in rets: \n        if i < 0:\n            down.append(i)\n        else:\n            down.append(0)\n\n            \n    up = pd.Series(np.array(up))\n    down = pd.Series(np.array(down))\n    avg_up = up.rolling(window=n).mean()\n    avg_down  = down.rolling(window=n).mean().abs()\n    RS = avg_up/avg_down\n    rsi = 100.0 - (100.0 / (1.0 + RS))\n    return rsi\n\n'

In [80]:
#calc_RSI(df['BOVA11.SAO']["adjusted close"])

In [81]:
rsi_14 = talib.RSI(df["adjusted close"], timeperiod=14)

In [82]:
rsi_14

2010-01-04          NaN
2010-01-05          NaN
2010-01-06          NaN
2010-01-07          NaN
2010-01-08          NaN
                ...
2021-05-25    58.676499
2021-05-26    61.523545
2021-05-27    62.677378
2021-05-28    66.201422
2021-05-31    67.739987
Length: 2819, dtype: float64

Stochatic oscilator:

$STO_t =\frac{C_t - L_n}{H_n-L_n} *100$

In [83]:
minimum, maximum = talib.MINMAX(df["adjusted close"], timeperiod=14)

In [84]:
sto =(df["adjusted close"] - minimum)/(maximum - minimum) * 100

### Chaikin Oscilator (CHO)

$\frac{A}{D_i}= \frac{(Close-Low) - (High-Close)}{(High - Low)} * Volume - \frac{A}{D_(i-1)}$

$CHO = EMA(A/D,3) - EMA(A/D,10)$

EMA: EMA(A/D, n) is a n-periodic exponential moving average of the A/D indicator

In [85]:
cho = talib.ADOSC(df["high"],df["low"],df["adjusted close"],df["volume"],fastperiod=3, slowperiod=10)

## Adding the Technical Analysis indicators

In [86]:
df_copy = df.copy()

In [87]:
df_copy.head()

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
2010-01-04,68.55,69.45,68.30,69.37,69.37,168379,0.0,1.0
2010-01-05,69.46,70.03,69.32,69.90,69.90,179175,0.0,1.0
2010-01-06,69.74,70.32,69.70,70.30,70.30,187683,0.0,1.0
2010-01-07,69.52,70.13,69.52,70.00,70.00,105126,0.0,1.0
2010-01-08,69.41,70.00,69.31,69.48,69.48,177077,0.0,1.0

In [88]:
df_copy

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
2010-01-04,68.55,69.45,68.30,69.37,69.37,168379,0.0,1.0
2010-01-05,69.46,70.03,69.32,69.90,69.90,179175,0.0,1.0
2010-01-06,69.74,70.32,69.70,70.30,70.30,187683,0.0,1.0
2010-01-07,69.52,70.13,69.52,70.00,70.00,105126,0.0,1.0
2010-01-08,69.41,70.00,69.31,69.48,69.48,177077,0.0,1.0
...,...,...,...,...,...,...,...,...
2021-05-25,119.89,119.97,118.05,118.40,118.40,5697654,0.0,1.0
2021-05-26,118.94,119.58,118.79,119.24,119.24,4716894,0.0,1.0
2021-05-27,119.46,119.83,118.79,119.59,119.59,6038746,0.0,1.0
2021-05-28,119.75,120.89,119.53,120.72,120.72,5991423,0.0,1.0
2021-05-31,120.84,121.25,120.28,121.25,121.25,4707495,0.0,1.0

In [89]:
bova11_df = df_copy[['open','high','low','adjusted close','volume']]

In [90]:
#Mudar isso depois  https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
bova11_df['RSI_14'] = rsi_14

<ipython-input-90-13b155523b11>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bova11_df['RSI_14'] = rsi_14

In [91]:
#Mudar isso depois  https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
bova11_df['STO_14'] = sto

<ipython-input-91-8d9614595a6b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bova11_df['STO_14'] = sto

In [92]:
bova11_df['CHO'] = cho

In [93]:
bova11_df.head()

             open   high    low  adjusted close  volume  RSI_14  STO_14  CHO
2010-01-04  68.55  69.45  68.30           69.37  168379     NaN     NaN  NaN
2010-01-05  69.46  70.03  69.32           69.90  179175     NaN     NaN  NaN
2010-01-06  69.74  70.32  69.70           70.30  187683     NaN     NaN  NaN
2010-01-07  69.52  70.13  69.52           70.00  105126     NaN     NaN  NaN
2010-01-08  69.41  70.00  69.31           69.48  177077     NaN     NaN  NaN

In [94]:
bova11_df['returns']= bova11_df['adjusted close'].pct_change()

In [95]:
bova11_df.to_csv("bova11_TA_v1.csv")

# Links

https://medium.com/codex/alpha-vantage-an-introduction-to-a-highly-efficient-free-stock-api-6d17f4481bf

https://medium.com/alpha-vantage/get-started-with-alpha-vantage-data-619a70c7f33a

https://www.alphavantage.co/documentation/

https://stackoverflow.com/questions/16088741/pandas-add-a-column-to-a-multiindex-column-dataframe

https://stackoverflow.com/questions/20526414/relative-strength-index-in-python-pandas